.news {
  font-size: 2rem;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 2rem;
}
/* --------- Header ----------- */
.news-header {
  width: 100%;
  min-height: 7rem;
  background-color: #111214;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  border-radius: 1rem 1rem 0 0;
  -webkit-border-radius: 1rem 1rem 0 0;
  -moz-border-radius: 1rem 1rem 0 0;
  -ms-border-radius: 1rem 1rem 0 0;
  -o-border-radius: 1rem 1rem 0 0;
}

.logo {
  font-family: "Bebas Neue", sans-serif;
  font-size: 5rem;
  color: #ddd;
  letter-spacing: 0.2rem;
}

.search-bar {
  position: relative;
}

.search-bar input {
  width: 25rem;
  height: 4rem;
  background-color: #060709;
  color: #ddd;
  border: none;
  padding: 0 4rem 0 2rem;
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
  transition: width 0.3s;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
}

.search-bar input:focus {
  width: 35rem;
}

.search-bar input:focus::placeholder {
  color: transparent;
}

.search-bar button {
  background-color: transparent;
  border: none;
  color: #bbb;
  position: absolute;
  font-size: 1.7rem;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

/* --------- Header ----------- */

/* --------- Navbar ----------- */

.news-content {
  display: flex;
  column-gap: 2rem;
  height: calc(100% - 16rem);
  padding: 0 2rem;
}

.navbar {
  width: 18rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.user {
  width: 100%;
  height: 25%;
  background-color: #111214;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  cursor: pointer;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.user img {
  width: 5rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.user p {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.2rem;
}

.categories {
  width: 100%;
  height: calc(80% - 2rem);
  background-color: #111214;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.nav-heading {
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(1.5rem, 2.5cqi, 2rem);
  color: #ddd;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav-link {
  color: #ddd;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}

.nav-link i {
  font-size: 1.4rem;
  margin-left: 1rem;
}

.nav-link:hover {
  color: #b88efc;
}

/* --------- Navbar ----------- */

/* --------- NewsSection ----------- */

.news-section {
  width: clamp(30rem, 43cqi, 40%);
  height: 100%;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.headline {
  position: relative;
  width: 100%;
  height: calc(50% - 2rem);
  background-color: #111214;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  margin-bottom: 2rem;
}

.headline-title {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  width: 100%;
  padding: 1rem 4rem 1rem 1rem;
  letter-spacing: 0.1rem;
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(1.5rem, 1.8cqi, 2rem);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 1rem 1rem;
  -webkit-border-radius: 0 0 1rem 1rem;
  -moz-border-radius: 0 0 1rem 1rem;
  -ms-border-radius: 0 0 1rem 1rem;
  -o-border-radius: 0 0 1rem 1rem;
}

.bookmark {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}
.headline img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  cursor: pointer;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.news-grid {
  width: 100%;
  height: 50%;
  background-color: #111214;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
}

.news-grid-item {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 10rem;
  cursor: pointer;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.news-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  opacity: 0.6;
}

.news-grid-item h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.3rem;
  font-weight: 200;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  line-height: 1.4rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 1rem 1rem;
  -webkit-border-radius: 0 0 1rem 1rem;
  -moz-border-radius: 0 0 1rem 1rem;
  -ms-border-radius: 0 0 1rem 1rem;
  -o-border-radius: 0 0 1rem 1rem;
}

.my-blogs {
  width: clamp(20rem, 27cqi, 28%);
  height: 100%;
  background-color: #111214;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.weather-calendar {
  display: flex;
  flex: 1;
  flex-direction: column;
  row-gap: 2rem;
}

.news-footer {
  width: 100%;
  height: 5rem;
  background-color: #111214;
  border-radius: 0 0 1rem 1rem;
  -webkit-border-radius: 0 0 1rem 1rem;
  -moz-border-radius: 0 0 1rem 1rem;
  -ms-border-radius: 0 0 1rem 1rem;
  -o-border-radius: 0 0 1rem 1rem;
}
